* {
  box-sizing: border-box;
}

body {
 background-color: aquamarine;
 height: 50vw;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.empty {
      background-color: white;
      border: 2px solid black;
      width: 100px;
      height: 100px;
      margin: 1%;
}

.fill {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("images/Reptar.jpg");
  background-size: cover;
}

.hold {
  border: ;
}

.hovered {
  background-color: black;
  border: 1px dashed white;
}

@media (max-width: 800px) {
}